@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Black.ttf);
    src: url(fonts/Montserrat-BlackItalic.ttf);
    src: url(fonts/Montserrat-Bold.ttf);
    src: url(fonts/Montserrat-BoldItalic.ttf);
    src: url(fonts/Montserrat-ExtraBold.ttf);
    src: url(fonts/Montserrat-ExtraBoldItalic.ttf);
    src: url(fonts/Montserrat-ExtraLight.ttf);
    src: url(fonts/Montserrat-ExtraLightItalic.ttf);
    src: url(fonts/Montserrat-Italic.ttf);
    src: url(fonts/Montserrat-Light.ttf);
    src: url(fonts/Montserrat-LightItalic.ttf);
    src: url(fonts/Montserrat-Medium.ttf);
    src: url(fonts/Montserrat-MediumItalic.ttf);
    src: url(fonts/Montserrat-Regular.ttf);
    src: url(fonts/Montserrat-SemiBold.ttf);
    src: url(fonts/Montserrat-SemiBoldItalic.ttf);
    src: url(fonts/Montserrat-Thin.ttf);
    src: url(fonts/Montserrat-ThinItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

.coverSection {
    background: url(../images/star.jpg) no-repeat;
    background-size: cover;
    background-position-y: 0;
    background-attachment: fixed;
    height: 100vh;
}

.myTextShadow {
    text-shadow: 0 0rem 0.4rem rgb(255 255 255);
}

.myShadow {
    box-shadow: 0 1rem 1rem rgb(255 255 255);
}

.btn-hover:hover {
    color: rgb(233, 227, 227) !important;
    background: transparent !important;
    box-shadow: 0 0rem 0.4rem rgb(255 255 255) !important;
    text-shadow: 0 0rem 0.1rem rgb(255 255 255);
}

.text-justify {
    text-align: justify !important;
}

#navbar {
    transition: 500ms ease-in-out;
    z-index: 1;
}

.transparent {
    background: url(../images/stars.png) !important;
    transition: 500ms ease-in-out;
}

.transparent #navbarSupportedContent ul {
    justify-content: end !important;
}

.transparent #navbarSupportedContent ul li {
    margin: 0 30px;
}

#logo img {
    transform: scale(1);
    animation-name: increase;
    animation-duration: 500ms;
}

@keyframes increase {
    0% {
        transform: scale(0)
    }
    25% {
        transform: scale(0.25)
    }
    50% {
        transform: scale(0.50)
    }
    75% {
        transform: scale(0.75)
    }
    100% {
        transform: scale(1)
    }
}

.AboutSection {
    background: url(../images/star-3.jpg) no-repeat;
    background-position-y: 0;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.AboutSection img {
    transition: 1500ms ease-in-out;
}

.AboutSection img:hover {
    transform: translateY(-50px);
}

.imgShadow {
    filter: drop-shadow( 0 0rem 0.25rem rgb(255 255 255));
}

.ProjectSection {
    background: url(../images/star-2.jpg) no-repeat;
    background-position-y: 0;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.ProjectSection .row {
    margin-top: 6rem;
}

.ProjectSection .row img {
    transition: 500ms ease-in-out;
}

.ProjectSection .row img:hover {
    transform: translateY(-15px) scale(1.5);
    box-shadow: 0 0rem 0.4rem rgb(255 255 255);
}

.ContactSection {
    background: url(../images/star-4.jpg) no-repeat;
    background-position-y: 0;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.ContactSection .form-control {
    background: rgba(255, 255, 255, 0.1) !important;
    resize: none;
    color: aliceblue;
}


/* .ContactSection input.form-control {
    border-radius: 25px !important;
} */

.ContactSection .form-control:focus {
    box-shadow: 0 0rem 0.4rem rgb(255 255 255) !important;
}

.ContactSection .form-control::placeholder {
    color: aliceblue;
}

.ContactSection .rocket {
    object-fit: contain;
    object-position: 0 2px;
    position: absolute;
    bottom: -28%;
    animation-name: float;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 500ms;
}

.ContactSection .cloud {
    object-fit: contain;
    object-position: 0 2px;
    position: absolute;
    bottom: -2%;
    animation-name: float-1;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 500ms;
}

@keyframes float {
    0% {
        transform: translateY(0px);
        transition: 500ms;
    }
    100% {
        transform: translateY(-40px);
        transition: 500ms;
    }
}

@keyframes float-1 {
    0% {
        transform: translateY(0px);
        transition: 500ms;
    }
    100% {
        transform: translateY(40px);
        transition: 500ms;
    }
}

@media(max-width:767px) {
    .navbar-brand {
        width: 75%;
    }
    .nav-link {
        text-align: center;
    }
    .coverSection,
    .AboutSection,
    .ProjectSection,
    .ContactSection {
        height: auto;
    }
}